---
- name: Enable cgroup memory in boot cmdline (Critical for Orange Pi)
  replace:
    path: /boot/orangepiEnv.txt
    regexp: '^(.*rootwait(?!.*cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1).*)'
    replace: '\1 cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1'
  register: boot_config

- name: Reboot Orange Pi if boot config changed
  reboot:
  when: boot_config.changed

- name: Download and install K3s
  shell: curl -sfL https://get.k3s.io | sh -
  environment:
    K3S_KUBECONFIG_MODE: "644"
    # Disabling traefik 
    INSTALL_K3S_EXEC: "--disable traefik"
  args:
    creates: /usr/local/bin/k3s

- name: Ensure K3s service is started
  systemd:
    name: k3s
    state: started
    enabled: yes

- name: Create .kube directory
  file:
    path: "/home/{{ ansible_user }}/.kube"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: Copy kubeconfig to user home
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: "/home/{{ ansible_user }}/.kube/config"
    remote_src: yes
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"

- name: Download nerdctl (Docker replacement)
  get_url:
    # We use the minimal version because K3s already has the runtime
    url: "https://github.com/containerd/nerdctl/releases/download/v2.0.0/nerdctl-2.0.0-linux-arm64.tar.gz"
    dest: "/tmp/nerdctl.tar.gz"
    mode: '0644'

- name: Install nerdctl to /usr/local/bin
  unarchive:
    src: "/tmp/nerdctl.tar.gz"
    dest: "/usr/local/bin"
    remote_src: yes
    include: 
      - nerdctl

- name: Clean up nerdctl archive
  file:
    path: "/tmp/nerdctl.tar.gz"
    state: absent
# Google Gemini Generated
- name: Configure handy aliases in .bashrc
  blockinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED ALIASES"
    block: |
      # Kubernetes alias
      alias k='kubectl'
      
      # Nerdctl configured for K3s
      # We alias 'docker' to 'sudo nerdctl' so you don't have to learn new commands
      # We also tell it where the K3s socket is
      export CONTAINERD_ADDRESS=/run/k3s/containerd/containerd.sock
      alias docker='sudo nerdctl'
      alias nerdctl='sudo nerdctl'
